%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-angle-left {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-angle-left-dims {
	width: 150px;
	height: 150px;
}

.svg-angle-right {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-angle-right-dims {
	width: 150px;
	height: 150px;
}

.svg-search {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-search-dims {
	width: 150px;
	height: 150px;
}

