/**
 * Just clearfix. Not mixin, has to be extended via @extend.
 */
%clearfix {
  *zoom: 1; // Hack for IE 6/7
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

/**
 * Generates styles for responsive columns with percantage width.
 * @param num - number of columns.
 * @param margin - the percantage (e.g. 5, or 15, or .5) value, bottom and right margin of this element (except last child in a row).
 */
@mixin columns($num, $margin) {
  width: percentage((1 - (.01 * $margin * ($num - 1))) / $num );
  margin-right: $margin * 1%;
  margin-bottom: $margin * 1%;
  float: left;

  &:nth-child(#{$num}n + 1) {
    margin-right: 0;
  }
}